h1 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(202, 93, 42);
}
