// Import page-specific CSS files here.
@import "home";


//--------page index---------------------

.colonne_gauche {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.colonne_droite {
 width: 360px;
 height: 100%;

}

.colonnes_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}
