// Import page-specific CSS files here.
@import "home";


//--------page index---------------------

.colonne_gauche {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 800px) {
  .colonne_gauche { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1200px) {
  .colonne_gauche { grid-template-columns: repeat(3, 1fr); }
}

.colonnes_2 {
  padding-top: 20px;
}
