<!-- Footer -->

<link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@400;700;900&family=Zen+Antique+Soft&display=swap" rel="stylesheet"
<div class="footer">
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="footer">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>SessionsShare
          </h6>
          <p>
            Note tes spots et partage les à tes potes.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Réseaux
          </h6>
          <p> <i class="fab fa-facebook-f"></i>
            <a href="#!" class="text-reset">Facebook</a>
          </p>
          <p> <i class="fab fa-instagram"></i>
            <a href="#!" class="text-reset">Instagram</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liens utiles
          </h6>
          <p>
            <a href="pages/about" class="text-reset">Qui sommes nous ?</a>
          </p>
          <p>
            <a href="pages/about.html" class="text-reset">Valeurs</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Biarritz</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contact@session.com
          </p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(53, 102, 83); color: white;">
    © 2022
    <a class="text-reset fw-bold" href=">@SessionsShare</a>
  </div>
  <!-- Copyright -->
</footer>
</div>
<!-- Footer -->
