<%= render 'shared/slidebar' %>

<div class="container">
<div class="values">
  <div class="jumbotron text-center">
    <p style="margin-bottom: 30px; font-size: 20px;">SessionsShare te permets de noter les spots, indiquer la bonne marée, le bon vent. Tu pourras ainsi visualiser sur la map tous tes spots et les partager (si tu le souhaites..) à tes potes.</p>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Qui sommes nous ? </h2><br>
        <h4>Un outil open-source, en perpétuelle amélioration.</h4><br>
        <p>Je m'appelle Félix. Développeur à mes heures perdues, j'ai voulu créer un outil pour pouvoir noter mes découvertes. Cet outil n'a pas pour but de rendre libre tous les spots de surf, c'est pourquoi je vous demanderai de ne pas partager vos spots à des inconnus. Faites en bon usage. Aujourd'hui, c'est avec grand plaisir que je vous le partage. </p>
        <br><button style="margin-bottom: 20px;" class="btn btn-success btn-lg">Nous contacter</button>
      </div>
      <div class="col-sm-4">
       <img src="https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1634&q=80" class="img-fluid z-depth-1-half" alt="">

      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
<div class="valeurs">
  <div id="services" class="container-fluid text-center">
    <h1>Nous rejoindre</h1>
    <h4>Envoi nous un mail et nous nous ferons un plaisir de te contacter</h4>
  <br><button style="margin-top: 20px; argin-bottom: 20px;" class="btn btn-success btn-lg">Nous contacter</button>
</div>
</div>
</div>
