
<%# ----------------------------------------fin navbar--------------------------- %>


<div class="body">
<div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-ride="carousel">
  <ol class="carousel-indicators">

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-40" src="https://images.unsplash.com/photo-1503888162233-e16bea2cef78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
      <h5 style="box-shadow: inset 0 -40px 0 #4d854b;">Note tes spots</h5>
      <p>Bon vent, bonne marée..</p>
    </div>
    </div>


  </div>
</div>


  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="https://images.unsplash.com/photo-1526342122811-2a9c8512023d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3" style="box-shadow: inset 0 -10px 0 #4d854b61;"><strong>Partage tes spots à tes potes</strong></h3>
            <p>Marque tes spots, leurs emplacements, la bonne marée, le bon vent. Le tour est joué ! Partage les à ton pote si tu as envie !
            </p>
            <p><strong>Découvre le fonctionnement, nos valeurs et la communauté juste en dessous.</strong></p>
            <!-- Main heading -->

            <hr>

            <p> <strong>+10000</strong> utilisateurs.</p>
              <p><strong>Note</strong> tes spots dans le monde entier.</p>
              <p><strong>Télécharge</strong> tes photos pour te souvenir de ta session.</p>
              <p><strong>100% gratuit et sans pub.</strong></p>

            <!-- CTA -->
            <a target="_blank" href="../users/sign_up" class="btn btn-outline-primary btn-md">Découvrir
              <i class="fa-solid fa-angle-right"></i>
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5" style="box-shadow: inset 0 -12px 0 #4d854b61;"><strong>A propos de SessionsShare</strong></h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
              </div>
              <div class="col-10">
                <h5 class="feature-title" style="box-shadow: inset 0 -12px 0 #4d854b61;"><strong>   Comment ca marche ? </strong></h5>
                <p class="grey-text">Une fois que tu as crée ton spot, partage le en privé.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
              </div>
              <div class="col-10">
                <h5 class="feature-title" style="box-shadow: inset 0 -12px 0 #4d854b61;"><strong>Nos valeurs ?</strong></h5>
                <p class="grey-text">Nous ne voulons pas rendre public les spots de surf. Chaque spot crée est privée, et peux être partagé que 5 fois.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
              </div>
              <div class="col-10">
                <h5 class="feature-title" style="box-shadow: inset 0 -12px 0 #4d854b61;"><strong>Notre communauté</strong></h5>
                <p class="grey-text">Une communauté de surfeur bienveillante (ne le partage pas aux cons). Cet outil a été développé par des surfeurs, pour des surfeurs</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-4"><strong>Sufer au bon moment, au bon endroit</strong></p>
            <img src="https://images.unsplash.com/photo-1526342256246-b67e94be5c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>

    </div>
