<div class="body">
  <div class="container">
    <div class="home">
      <div class="home_couleur">
        <h1>Créez votre propre carte de vos spots et partagez les à vos potes </h1>
        <div class="trait_jaune"></div>
        <p>Un outil simple, efficace, rapide pour noter tes spots, tes sessions, la bonne marée et partager les fiches à tes potes.
        </p>
        <a class="btn btn-flat" <%= link_to "JE DECOUVRE", new_user_registration_path=%>></a>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/young-beautiful-couple-walking-along-the-sandy-beach-near-the-ocean-picture-id1297065625?b=1&k=20&m=1297065625&s=170667a&w=0&h=mduJPt7qgFRgNBgjYaNL0SdvG4PjmQOlgfLFWC6yYKU=)">
            Découvre des spots
          </div>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1489702932289-406b7782113c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80)">
            Partage à tes potes
          </div>
      </div>
    </div>
  </div>
<!----------------------------Footer------------------------------------>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Rejoignez-nous avec <i class="fas fa-heart"></i> sur les réseaux
  </div>
</div>
</div>
