
<div class="container text-center">
  <div class="cadre">
    <h2>Comment ca marche ?</h2>
    <h4>Facile et ludique</h4>


    <div class="row text-center">
      <div class="col-sm-4">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527731086039-8e31150599cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);">
        <div class="thumbnail">
            <h3><strong>Note les spots</strong></h3>
            <p>Indique la meilleure marée, le meilleur vent, la meilleure houle</p>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513569143478-b38b2c0ef97f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60)" style=" transition: box-shadow 0.5s;";">
        <div class="thumbnail">
            <h3><strong>Mémo</strong></h3>
            <p>Visualise tous les spots sur la map. Mofifie les à tout moment. Partage les à tes potes</p>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612025344470-df9818c785a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHN1cmZpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);">
        <div class="thumbnail">
            <h3><strong>Météo</strong></h3>
            <p>Découvre les conditions météo de tes spots. </p>
        </div>
      </div>
    </div>
</div>

<%#-----------------------------fin card--------------------------------------------- %>
<hr class="my-5">

<div class="container-fluid">
  <div class="cadre2">
    <div class="text-center">
      <h2>3 étapes simples</h2>
      <h4>Marques tes spots et retrouve les meilleurs conditions et leurs météos</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Marque tes spots</h1>
          </div>
          <div class="panel-body">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Retrouve leurs infos</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Découvre la météo surf de chaque spot </h1>
          </div>
          <div class="panel-body">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
