<%= render 'shared/slidebar' %>

<div class="container">
<div class="values">
  <div class="jumbotron text-center">
    <p style="margin-bottom: 30px; font-size: 20px;">SessionsShare te permets de noter les spots, indiquer la bonne marée, le bon vent. Tu pourras ainsi visualiser sur la map tous tes spots et les partager (si tu le souhaites..) à tes potes.</p>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>A propos de SessionsShare</h2><br>
        <h4>Un outil 100% gratuit par et pour les surfeurs.</h4><br>
        <p>En tant que surfeur, nous savons à quel point il est important de préserver les spots, de ne pas les rendre public. SessionsShare n'a pas été crée pour rendre les spots accessibles à tous, mais en tant que mémo. Le but est de noter ses spots, leurs avantages, pour pouvoir y retourner au meilleur créneau. </p>
        <br><button style="margin-bottom: 20px;" class="btn btn-success btn-lg">S'inscrire</button>
      </div>
      <div class="col-sm-4">
       <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="img-fluid z-depth-1-half" alt="">

      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
<div class="valeurs">
  <div id="services" class="container-fluid text-center">
    <h1>Nos valeurs</h1>
    <h4>Ce que nous proposons..</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <i class="fa-solid fa-address-card"></i>
        <h4>PARTAGE</h4>
        <p>Partage avec modération</p>
      </div>
      <div class="col-sm-4">
        <i class="fa-solid fa-earth-americas"></i>
        <h4>RESPECT</h4>
        <p>SessionsShare est engagé pour la planète.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa-solid fa-cloud-moon"></i>
        <h4>MEILLEURS SURF</h4>
        <p>Va surfer au bon moment</p>
      </div>
    </div>
    <br><br>
</div>
</div>
</div>
