
.colonne_gauche .card {
  margin-bottom: 10px;
  height: 450px;
}

.card-body h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
.card-body h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.card-body p {
  font-size: 12px;
  margin: 0;

}
.p.card-text {
  font-size: 18px;
  opacity: .9;
}
.list-group li {
  font-size: 12px;
}

.card-text {
  padding-top: 10px;
}

.text-center .btn-outline-primary {
  border-radius: 20px;
}
.text-center .btn-outline-success {
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h5.card-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(53, 102, 83);
  margin-left: 20px;

}

.ligne_grise {
  border-top-width: 1px ;
  border-top-style: solid ;
  border-top-color: rgba(140, 122, 122, 0.23);
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



.main{
  max-width: 1200px;
  margin: 0 auto;
}



.card_image img {
  height: auto;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  vertical-align: middle;
}




.cards_item {
  display: flex;
  padding: 1rem;
}



.colonne_gauche .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;

}

.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
h2 .card_title  {
  font-size: 2px;

}

.card_text {
  color: #383636ef;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  min-height: 67px;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.text-center .btn-outline-primary {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}


.colonne_gauche .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#map {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
// ------------carte vide--------------------------
.carte_vide .card {
  background-color: rgba(128, 128, 128, 0.616);
  color: white;
}
.carte_vide p {
  color: white;
}
.carte_vide .card_image {
  background-color: grey;
}


//---------------responsive--------------------
@media (max-width: 776px) {
  .card-img-top img {
  border-radius: 30px;
  }

  .title_btn .card-body {
    display: flex;
    margin-left: 20px;
  }

  a.card-link {
    margin-left: 4px;
  }
  }

@media (max-width: 546px) {
  .title_btn .card-body {
    display: flex;
    flex-direction: column;

  }
  a.card-link {
    margin-top: 9px;
  }
  .card_totale_text {
  flex-direction: column;
  margin-left: 20px;
  }
}
