
.card {
  margin-bottom: 10px;
}

.card-body h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
.card-body h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.card-body p {
  font-size: 12px;
  margin: 0;
}
.p.card-text {
  font-size: 18px;
  opacity: .9;
}
.list-group li {
  font-size: 12px;
}

.card-text {
  padding-top: 10px;
}

.text-center .btn-outline-primary {
  border-radius: 20px;
}
