.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(12, 12, 12, 0.596);
  position: absolute;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0,5;
}
.footer .fa-heart {
  color: #D23333;
}
