
.colonne_droite #map {
  height: 100%;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content h2 {
  font-size: 20px;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
