.partage_ami h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}

.partage_ami p {
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
}

.card-body h5 {
  font-size: 30px;
  font-weight: 700;
}
