.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

a.navbar-brand  {
  font-family: 'Palette Mosaic', cursive;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 72px;
  height: 72px;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


.footer .row {
  padding-top: 20px;
}
